@page
@model About_UsModel
@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Somos una compañia que se dedica a cubrir las necesidades de sus clientes en articulos de Libreria.</p>
